*{
		margin:0px;
		padding: 0px;
	}
	ul{
		list-style: none;
	}
	.out{
		width: 520px;
		height: 280px;
		margin:100px auto;
		position: relative;
	}
	.out .img{
		
	}
	.out .img li{
		position: absolute;
		left: 0;
		top: 0;
		display: none;
	}
	.out .num{
		position: absolute;
		left: 0;
		bottom: 20px;
		font-size: 0;
		text-align: center;
		width: 100%;
	}
	.out .num li{
		width: 20px;
		height: 20px;
		background: #666;
		color:#fff;
		text-align: center;
		line-height: 20px;
		border-radius: 50%;
		display: inline-block;
		font-size: 16px;
		margin:0 3px;
		cursor:pointer;
	}
	.out .btn{
		position: absolute;
		top: 50%;		
		width: 30px;
		height: 60px;
		background: rgba(0,0,0,0.5);
		color:#fff;
		line-height: 60px;
		text-align: center;
		font-size: 40px;
		margin-top: -30px;
		display: none;
		cursor:pointer;
	}
	.out:hover .btn{
		display: block;
	}
	.out .btn_l{
		left:0;
	}
	.out .btn_r{
		right:0;
	}
	.out .num li.active{
		background: red;
	}